absl-py==1.0.0
alembic==1.7.7
Flask==2.0.3
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
google-auth==2.6.2
google-auth-oauthlib==0.4.6
google-images-download==2.8.0
google-pasta==0.2.0
gunicorn==20.1.0
importlib-metadata==4.11.3
importlib-resources==5.4.0
ipykernel==6.9.1
ipython==8.1.1
ipython-genutils==0.2.0
keras==2.8.0
Keras-Preprocessing==1.1.2
matplotlib==3.5.1
matplotlib-inline==0.1.2
notebook==6.4.8
numpy==1.22.3
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
pip==21.2.4
protobuf==3.19.4
psycopg2==2.9.3
ptyprocess==0.7.0
python-dateutil==2.8.2
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
selenium==4.1.3
SQLAlchemy==1.4.32
SQLAlchemy-Utils==0.38.2
stack-data==0.2.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-addons==0.16.1
tensorflow-io-gcs-filesystem==0.24.0
tf-estimator-nightly==2.8.0.dev2021122109
urllib3==1.26.9
uuid==1.30
